form,dl,dd,dt,h1,h2,h3,h4,h5,p,html,body{padding:0;margin:0}img{border:0;vertical-align:top}a:focus,a:active{outline:0}a::-moz-focus-inner{border:0}.is-show-mobile{display:none !important}.hidden{display:none!important}.invisible{visibility:hidden!important}.cfix, .clear-li
li{width:100%}.b-addresses-list li:after, .b-forms .ips:after, .cfix:after, .clear-li li:after, .drop-down .drop-title:after{content:".";display:block;font-size:1px;height:0;clear:both;visibility:hidden}.cfix, .clear-li li, .drop-down .drop-title{display:inline-block}/*\*/.cfix, .clear-li li, .drop-down .drop-title{display:block}/**/.nohighlight:focus{outline:none}ul{margin:0;padding:0;list-style-type:none}.width100{width:100%}.width75{width:75%}.width50, .actions
li{width:50%}.floatLeft, .pay-info dt, .btn-brd span, .login-form .lbl, .login-form
.inputs{float:left}.floatRight, .filter-items li.right-li{float:right}.alignLeft{text-align:left}.alignRight, .pay-info .floatLeft, .bottom-nav, .bottom, .cart-table .cost, .cart-table
.check{text-align:right}.alignCenter{text-align:center}.mar-r, .long-col, .pay-info .floatLeft, .confirm-order
dt{margin-right:-15%}.more{text-decoration:none}.more
span{text-decoration:underline}.hid-o{position:relative;width:100%;overflow:hidden}.clr{clear:both;float:none !important;height:1px !important;font-size:1px !important;border:none;margin:0
!important;padding:0
!important;background:transparent !important;visibility:hidden !important}div.txt-tb:after{display:block;line-height:0;height:0;font-size:1px;visibility:hidden;content:" "}div.txt-tb{position:relative;z-index:999;display:table-cell}.bg-green, .tbl .odd, .more-card .annotation table
.odd{background-color:#eef9e9}.highlight,.highlight-author{background-color:#ffe677}.brd-green{border:1px
solid #ccd9cc}a .highlight, a .highlight-author{text-decoration:underline}.highlight,.highlight-author{position:relative;padding:0}.inp{display:block;border:1px
solid #a5acb2;padding:3px
1px 4px 5px;font:12px Tahoma,Verdana;background-color:#fff}.inp textarea, .inp
input{border:1px
solid #fff;border-width:0;margin:0;padding:0;width:100%;height:1.167em;background-color:#fff;outline:none}.inp
textarea{height:7.917em}.inp-outline{border-color:#88b726 !important}.item-p-info
input{border:1px
solid #7f9db9;padding:1px
0 2px 0;margin-bottom:2px}.red{color:#e00}.i-view{float:right;width:100%}.btn-brd{}.btn-brd
span{position:relative;display:block;background-color:#ccdd7f;border:3px
solid #ccdd7f}.btn-brd span
input{height:32px;cursor:pointer;cursor:hand}.chk-b{position:relative;display:block;padding-left:20px}.chk-b input, .auctions-choose dt
input{position:absolute;left:-1px;top:-2px;margin-left:0}.pad-b{padding:5px
0 15px}.pad-t15{padding-top:15px}.pad-t55{padding-top:55px}.pad-t100{padding-top:100px}.pad-b20{padding-bottom:20px}.pad-b10{padding-bottom:10px!important}.pad-b5{padding-bottom:5px!important}.btn-pad,.btn-var{padding:20px
0 0 30px;zoom:1}.btn-var{padding-bottom:20px}.dashed{border-bottom:1px dotted;text-decoration:none !important}.rec-v input, .rec-v
textarea{background:url(/img/ico-star.v1632224431.gif) no-repeat 0 1px}.rec-change input, .rec-change
textarea{background-image:none}.drop-down{position:relative}.drop-down
table{border-collapse:collapse;border-spacing:0}.drop-down table
td{padding:0}.drop-down .drop-title{position:relative;z-index:4;margin:0
-15px 0 -10px;padding:0
15px 0 10px}.drop-down .drop-title
.hd{position:relative;float:left;white-space:nowrap}.drop-down
.dropdown{position:absolute;z-index:3;top:-999em;left:-999em}.drop-down .drop-title
i{position:absolute;top:-999em;right:-15px;width:15px;height:100%;background:url(/img/drop-shad-title-r.v1632224431.png)}.drop-down .drop-bt, .drop-down .drop-tp{position:relative;margin-right:1px;font-size:1px}.drop-down .drop-bt i, .drop-down .drop-tp
i{display:block}.drop-down .drop-bt .l, .drop-down .drop-tp
.l{position:absolute;top:0;left:0;width:100%}.drop-down .drop-bt .r, .drop-down .drop-tp
.r{position:relative;float:right}.drop-down .drop-tp{margin-right:1px}.drop-down .drop-tp, .drop-down .drop-tp
i{height:10px}.drop-down .drop-tp
.l{background:url(/img/drop-shad-tp-l.v1632224431.png)}.drop-down .drop-tp
.r{right:-15px;width:15px;background:url(/img/drop-shad-tp-r.v1632224431.png)}.drop-down .drop-bt{margin-left:-10px;margin-right:2px}.drop-down .drop-bt, .drop-down .drop-bt
i{height:17px}.drop-down .drop-bt
.l{background:url(/img/drop-shad-bt-l.v1632224431.png)}.drop-down .drop-bt
.r{right:-16px;width:16px;background:url(/img/drop-shad-bt-r.v1632224431.png)}.drop-down .drop-md{position:relative;margin:0
-14px 0 -10px;background:url(/img/drop-shad-md.v1632224431.png) no-repeat 0 0}.drop-down
.dropmd{padding:0
14px 0 10px;background:url(/img/drop-shad-md.v1632224431.png) no-repeat 100% 0}.drop-down .drop-cont{position:relative;background-color:#fff}.drop-top{}.drop-top .dt-ie{position:absolute;left:-999em;top:-999em}.drop-top .p-ie{position:absolute;top:-999em;left:0;width:100%;height:10px;display:block}.drop-top .p-ie
em{display:block;height:10px}.drop-top
.pie{position:relative;margin:0
5px 0 -10px}.drop-top .pie
.l{position:absolute;top:0;left:0;width:100%;background:url(/img/drop-shad-title-l-1.v1632224431.png)}.drop-top .pie
.r{position:relative;margin-left:auto;right:-20px;width:20px;background:url(/img/drop-shad-title-r-1.v1632224431.png)}.active-drop{}.active-drop
.dropdown{top:auto;margin-top:-10px;left:0}.active-drop .drop-title{background:url(/img/drop-shad-title-l.v1632224431.png) no-repeat 0 0}.active-drop .drop-title
.hd{color:#cd3232;background-color:#fff}.active-drop .drop-title a, .active-drop .drop-title a:hover{color:#cd3232;text-decoration:none}.active-drop .drop-title
i{top:0}.active-drop .p-ie{top:-10px}.c-md{position:relative;zoom:1}.c-hd{position:relative;font-size:1px}.c-hd
i{position:relative;display:block}.c-hd
.r{float:right}.c-tp{}.c-tp
.l{}.c-tp
.r{background-position:100% 0}.c-bt{}.c-bt
.l{background-position:0 100%}.c-bt
.r{background-position:100% 100%}.button-small,.button-big,.button-verybig{position:relative;width:auto;cursor:pointer;overflow:visible;padding:0;border:0;margin:0;outline:none;white-space:nowrap;text-shadow:#fff 0px 0px 1px;background-color:transparent}.button-small::-moz-focus-inner,.button-big::-moz-focus-inner{padding:0px;border:0px}.button-small
span{display:-moz-inline-stack;display:inline-block;height:28px;background:url(/img/buttons/btn-small.v1632224431.png?1) no-repeat 0 -152px;padding-left:11px}.button-small span
span{color:#004f50;font-weight:bold;font-size:11px;line-height:27px;background-position:100% 0;padding:0
20px 0 9px}.btn-simp
span{background-image:url(/img/buttons/btn-small-simple.v1632224431.png?1)}.button-big
span{color:#004f50;display:-moz-inline-stack;display:inline-block;height:38px;background:url(/img/buttons/btn-big.v1632224431.png?1) no-repeat 0 -152px;padding-left:11px}.button-big span
span{background-position:100% 0;font:15px/37px Arial,Helvetica;height:38px;padding:0
20px 0 9px;overflow:visible}.button-big:hover span, .button-small:hover
span{background-position:0 -190px}.button-big:hover span span, .button-small:hover span
span{background-position:100% -38px}.button-big:active span, .btn-click span, .button-small:active
span{background-position:0 -228px}.button-big:active span span, .btn-click span span, .button-small:active span
span{background-position:100% -76px}.button-big-dis span, .button-small-dis
span{background-position:0 -266px !important}.button-big-dis span span, .button-small-dis span
span{color:#b2b3b6 !important;background-position:100% -114px !important}.btn-bsimp span, .btn-bsimp span
span{background-image:url(/img/buttons/btn-big-simple.v1632224431.png?1)}.button-verybig
span{background:url(/img/buttons/big_but.v1632224431.png) no-repeat left -58px;color:#066;display:inline-block;height:58px;padding-left:11px}.button-verybig span
span{background-position:100% 0px;font:bold 24px/55px Arial,Helvetica;height:58px;overflow:visible;padding:0
33px 0 22px;color:#066}.button-verybig:hover
span{background-position:0px -174px}.button-verybig:hover span
span{background-position:100% -116px}.button-verybig:active
span{background-position:0 -290px}.button-verybig:active span
span{background-position:100% -232px}.button-verybig-dis span, button-verybig-dis:hover span, button-verybig-dis:active
span{background-position:0 -406px!important}.button-verybig-dis span span, .button-verybig-dis:hover span span, .button-verybig-dis:active span
span{background-position:100% -348px!important;color:#c5c5c6!important}@media screen and (-webkit-min-device-pixel-ratio:0){.button-small{height:28px}.button-big{height:40px}.button-big span, .button-small
span{margin-top:-1px}.button-big span span, .button-small span
span{margin-top:0}}.button-search
span{background-image:url(/img/buttons/btn-search-g.v1632224431.png?1)}span span.b-gb{color:#004f50;font-weight:bold}span span.b-gn{color:#004f50;font-weight:normal}span span.b-bn{color:#000;font-weight:normal}span span.b-bb{color:#000;font-weight:bold}.b-ico{position:absolute;background-image:url(/img/auctions/ico-set.v1632224431.png);font-size:1px}.i-oz{position:absolute;background-image:url(/img/b-ico.v1632224431.png);font-size:1px}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}small{font-size:80%}svg:not(:root){overflow:hidden}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}